.wrapper {
    background-color: white;
}

.pink {
    color: rgb(255,57,152);
}

.t_grey,
a {
    color: rgb(85,85,85);  
}

.t_lg_grey {
    color: rgb(119,119,119);  
}

.gloop {
    color: rgb(236,119,53);  
}

.colored_field {
    background: linear-gradient(0.25turn, #ff7981, #f47e53, #d3bb86);
}