.lower_nav,
.left {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
}

.left {
    gap: 0.5rem;
}

.right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.copyright p:last-child {
    display: none;
}

footer ul {
    padding: 0;
}

footer ul li a {
    text-decoration: none;
    padding: 0.5rem 0;
}


footer ul li {
    padding: 0.3rem 0;
}