.hero,
.green_w {
    padding: 0.5rem 0;
    width: 100%;
    height: 100%;
}

.hero {
    /* height: 60vh; */
    background: url(/img/graphic.svg) no-repeat center / cover;
    background-position: top -15px right -125%;
    background-size: 275px;
}

.green_w{
    background: url(/img/upsell-footer-image.svg) no-repeat bottom / cover;
    background-position: bottom right 50px;
    background-size: 50px;
}

.hero .no_other {
    width: 60%;
}

.colored_field {
    background: linear-gradient(0.25turn, #ff7981, #f47e53, #d3bb86);
}

.partners img:nth-child(4) {
    display: none;
}

.partners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: baseline;
}

.partners img {
    width: 95%;
    height: 100%;
    object-fit: contain;
}

.grey_line {
    border-top: 1px solid rgb(85,85,85);
}

.green_w{
    padding: 0.5rem 0;
    width: 100%;
    height: 100%;
    background: url(/img/upsell-footer-image.svg) no-repeat bottom / cover;
    background-position: bottom right;
    background-size: 150px;
}

.green_w .no_other {
    width: 45%;
}
