/* margin sizes */

.m_0 {
    margin: 0;
}

.m_1 {
    margin: 1rem;
}

.m_2 {
    margin: 2rem;
}

.mt_0 {
    margin-top: 0;
}

.mt_1 {
    margin-top: 1rem;
}

.mt_2 {
    margin-bottom: 2rem;
}

.mb_0 {
    margin-bottom: 0;
}

.mb_1 {
    margin-bottom: 1rem;
}

.mb_2 {
    margin-bottom: 2rem;
}

.mr_0 {
    margin-right: 0;
}

.mr_1 {
    margin-right: 1rem;
}

.mr_2 {
    margin-right: 2rem;
}

.ml_0 {
    margin-left: 0;
}

.ml_1 {
    margin-left: 1rem;
}

.ml_2 {
    margin-left: 2rem;
}

/* padding sizes */

.p_0 {
    padding: 0;
}

.p_1 {
    padding: 1rem;
}

.p_2 {
    padding: 2rem;
}

.pt_0 {
    padding-top: 0;
}

.pt_1 {
    padding-top: 1rem;
}

.pt_2 {
    padding-bottom: 2rem;
}

.pb_0 {
    padding-bottom: 0;
}

.pb_1 {
    padding-bottom: 1rem;
}

.pb_2 {
    padding-bottom: 2rem;
}

.pr_0 {
    padding-right: 0;
}

.pr_1 {
    padding-right: 1rem;
}

.pr_2 {
    padding-right: 2rem;
}

.pl_0 {
    padding-left: 0;
}

.pl_1 {
    padding-left: 1rem;
}

.pl_2 {
    padding-left: 2rem;
}

.header_n a {
    padding: 0.5rem;
}

.img_b img {
    margin: auto;
}

/* font sizes */

nav a {
    font-size: medium;
}

